@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700&subset=latin,cyrillic);
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700&subset=latin,cyrillic);
.t-body {
  margin: 0px;
}
#allrecords {
  -webkit-font-smoothing: antialiased;
  background-color: none;
}
#allrecords a {
  color: #3964a3;
  text-decoration: none;
}
#allrecords a[href^=tel] {
  color: inherit;
  text-decoration: none;
}
#allrecords ol {
  padding-left: 22px;
}
#allrecords ul {
  padding-left: 20px;
}
@media print {
  body,
  html {
    min-width: 1200px;
    max-width: 1200px;
    padding: 0;
    margin: 0 auto;
    border: none;
  }
}
.t-text {
  font-family: 'Open Sans', serif;
  font-weight: 300;
  color: #000000;
}
.t-text_xs {
  font-size: 15px;
  line-height: 1.55;
}
.t-text_sm {
  font-size: 18px;
  line-height: 1.55;
}
.t-text_md {
  font-size: 20px;
  line-height: 1.55;
}
.t-text_lg {
  font-size: 22px;
  line-height: 1.55;
}
.t-text_weight_plus {
  font-weight: 400;
}
.t-text-impact {
  font-family: 'Open Sans', serif;
  font-weight: 300;
  color: #000000;
}
.t-text-impact_xs {
  font-size: 26px;
  line-height: 1.50;
}
.t-text-impact_sm {
  font-size: 32px;
  line-height: 1.35;
}
.t-text-impact_md {
  font-size: 38px;
  line-height: 1.35;
}
.t-text-impact_lg {
  font-size: 42px;
  line-height: 1.23;
}
.t-name {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  color: #000000;
}
.t-name_xs {
  font-size: 16px;
  line-height: 1.35;
}
.t-name_sm {
  font-size: 18px;
  line-height: 1.35;
}
.t-name_md {
  font-size: 20px;
  line-height: 1.35;
}
.t-name_lg {
  font-size: 22px;
  line-height: 1.35;
}
.t-name_xl {
  font-size: 24px;
  line-height: 1.35;
}
.t-heading {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  color: #000000;
}
.t-heading_xs {
  font-size: 26px;
  line-height: 1.23;
}
.t-heading_sm {
  font-size: 28px;
  line-height: 1.17;
}
.t-heading_md {
  font-size: 30px;
  line-height: 1.17;
}
.t-heading_lg {
  font-size: 32px;
  line-height: 1.17;
}
.t-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  color: #000000;
}
.t-title_xxs {
  font-size: 36px;
  line-height: 1.23;
}
.t-title_xs {
  font-size: 42px;
  line-height: 1.23;
}
.t-title_sm {
  font-size: 48px;
  line-height: 1.23;
}
.t-title_md {
  font-size: 52px;
  line-height: 1.23;
}
.t-title_lg {
  font-size: 64px;
  line-height: 1.23;
}
.t-title_xl {
  font-size: 72px;
  line-height: 1.17;
}
.t-title_xxl {
  font-size: 82px;
  line-height: 1.17;
}
.t-descr {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #000000;
}
.t-descr_xxs {
  font-size: 14px;
  line-height: 1.55;
}
.t-descr_xs {
  font-size: 16px;
  line-height: 1.55;
}
.t-descr_sm {
  font-size: 18px;
  line-height: 1.55;
}
.t-descr_md {
  font-size: 20px;
  line-height: 1.55;
}
.t-descr_lg {
  font-size: 22px;
  line-height: 1.55;
}
.t-descr_xl {
  font-size: 24px;
  line-height: 1.50;
}
.t-descr_xxl {
  font-size: 26px;
  line-height: 1.45;
}
.t-descr_xxxl {
  font-size: 30px;
  line-height: 1.45;
  letter-spacing: 0.45;
}
.t-uptitle {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  color: #000000;
  letter-spacing: 2.5px;
}
.t-uptitle_xs {
  font-size: 12px;
}
.t-uptitle_sm {
  font-size: 14px;
}
.t-uptitle_md {
  font-size: 16px;
}
.t-uptitle_lg {
  font-size: 18px;
}
.t-uptitle_xl {
  font-size: 20px;
  letter-spacing: 2px;
}
.t-uptitle_xxl {
  font-size: 22px;
  letter-spacing: 2px;
}
.t-uptitle_xxxl {
  font-size: 24px;
  letter-spacing: 2px;
}
@media screen and (max-width: 1200px) {
  .t-text_xs {
    font-size: 14px;
  }
  .t-text_sm {
    font-size: 16px;
  }
  .t-text_md {
    font-size: 18px;
  }
  .t-text_lg {
    font-size: 20px;
  }
  .t-text-impact_md {
    font-size: 30px;
  }
  .t-descr_xxs {
    font-size: 12px;
  }
  .t-descr_xs {
    font-size: 14px;
  }
  .t-descr_sm {
    font-size: 16px;
  }
  .t-descr_md {
    font-size: 18px;
  }
  .t-descr_lg {
    font-size: 20px;
  }
  .t-descr_xl {
    font-size: 22px;
  }
  .t-descr_xxl {
    font-size: 22px;
  }
  .t-descr_xxxl {
    font-size: 26px;
  }
  .t-uptitle_md {
    font-size: 14px;
  }
  .t-uptitle_lg {
    font-size: 16px;
  }
  .t-uptitle_xl {
    font-size: 18px;
  }
  .t-uptitle_xxl {
    font-size: 20px;
  }
  .t-uptitle_xxxl {
    font-size: 22px;
  }
  .t-title_xxs {
    font-size: 32px;
  }
  .t-title_xs {
    font-size: 38px;
  }
  .t-title_sm {
    font-size: 44px;
  }
  .t-title_md {
    font-size: 48px;
  }
  .t-title_lg {
    font-size: 60px;
  }
  .t-title_xl {
    font-size: 68px;
  }
  .t-title_xxl {
    font-size: 78px;
  }
  .t-name_xs {
    font-size: 14px;
  }
  .t-name_sm {
    font-size: 16px;
  }
  .t-name_md {
    font-size: 18px;
  }
  .t-name_lg {
    font-size: 20px;
  }
  .t-name_xl {
    font-size: 22px;
  }
  .t-heading_xs {
    font-size: 24px;
  }
  .t-heading_sm {
    font-size: 26px;
  }
  .t-heading_md {
    font-size: 28px;
  }
  .t-heading_lg {
    font-size: 30px;
  }
}
@media screen and (max-width: 640px) {
  .t-text_xs {
    font-size: 12px;
    line-height: 1.45;
  }
  .t-text_sm {
    font-size: 14px;
    line-height: 1.45;
  }
  .t-text_md {
    font-size: 16px;
    line-height: 1.45;
  }
  .t-text_lg {
    font-size: 18px;
    line-height: 1.45;
  }
  .t-text-impact_sm {
    font-size: 22px;
  }
  .t-text-impact_md {
    font-size: 26px;
  }
  .t-text-impact_lg {
    font-size: 28px;
  }
  .t-descr_xs {
    font-size: 12px;
    line-height: 1.45;
  }
  .t-descr_sm {
    font-size: 14px;
    line-height: 1.45;
  }
  .t-descr_md {
    font-size: 16px;
    line-height: 1.45;
  }
  .t-descr_lg {
    font-size: 18px;
    line-height: 1.45;
  }
  .t-descr_xl {
    font-size: 20px;
    line-height: 1.40;
  }
  .t-descr_xxl {
    font-size: 20px;
  }
  .t-descr_xxxl {
    font-size: 22px;
  }
  .t-uptitle_xs {
    font-size: 10px;
  }
  .t-uptitle_sm {
    font-size: 10px;
  }
  .t-uptitle_md {
    font-size: 12px;
  }
  .t-uptitle_lg {
    font-size: 14px;
  }
  .t-uptitle_xl {
    font-size: 16px;
  }
  .t-uptitle_xxl {
    font-size: 18px;
  }
  .t-uptitle_xxxl {
    font-size: 20px;
  }
  .t-title_xxs {
    font-size: 28px;
  }
  .t-title_xs {
    font-size: 30px;
  }
  .t-title_sm {
    font-size: 30px;
  }
  .t-title_md {
    font-size: 30px;
  }
  .t-title_lg {
    font-size: 30px;
  }
  .t-title_xl {
    font-size: 32px;
  }
  .t-title_xxl {
    font-size: 36px;
  }
  .t-name_xs {
    font-size: 12px;
  }
  .t-name_sm {
    font-size: 14px;
  }
  .t-name_md {
    font-size: 16px;
  }
  .t-name_lg {
    font-size: 18px;
  }
  .t-name_xl {
    font-size: 20px;
  }
  .t-heading_xs {
    font-size: 22px;
  }
  .t-heading_sm {
    font-size: 24px;
  }
  .t-heading_md {
    font-size: 24px;
  }
  .t-heading_lg {
    font-size: 26px;
  }
}
@media screen and (max-width: 480px) {
  .t-title_xl {
    font-size: 30px;
  }
  .t-title_xxl {
    font-size: 30px;
  }
}
.t-records {
  -webkit-font_smoothing: antialiased;
  background-color: none;
}
.t-records a {
  color: #3964a3;
  text-decoration: none;
}
.t-records a[href^=tel] {
  color: inherit;
  text-decoration: none;
}
.t-records ol {
  padding-left: 22px;
  margin-top: 0px;
  margin-bottom: 10px;
}
.t-records ul {
  padding-left: 20px;
  margin-top: 0px;
  margin-bottom: 10px;
}
.t-cover {
  height: 700px;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #000;
  background-repeat: no-repeat;
  background-position: center center;
  text-align: center;
  vertical-align: middle;
  position: relative;
  background-attachment: fixed;
  overflow: hidden;
}
.t-cover__carrier {
  height: 700px;
  width: 100%;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  text-align: center;
  vertical-align: middle;
  position: relative;
  background-attachment: fixed;
}
@media screen and (max-device-width: 1024px) {
  .t-cover {
    background-attachment: scroll;
  }
  .t-cover__carrier {
    background-attachment: scroll;
  }
}
@media print {
  .t-cover {
    background-attachment: scroll;
  }
  .t-cover__carrier {
    background-attachment: scroll;
  }
}
.t-cover__filter {
  height: 700px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.t-cover .t-container,
.t-cover .t-container_100,
.t-cover .t-container_10,
.t-cover .t-container_8 {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.t-cover__wrapper {
  height: 700px;
  display: table-cell;
  width: 1200px;
}
.t-cover__wrapper span.space {
  display: inline-block;
  height: 100%;
  width: 1px;
}
@media screen and (max-width: 640px) {
  .t-cover {
    height: 400px;
    background-attachment: fixed;
  }
  .t-cover__carrier {
    background-attachment: scroll !important;
    background-size: cover;
    background-position: center center;
  }
  .t-cover__filter {
    height: 400px;
  }
  .t-cover__wrapper {
    height: 400px;
  }
}
@-webkit-keyframes t-arrow-bottom {
  0% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -moz-transform: translateY(-7px);
    -ms-transform: translateY(-7px);
    -webkit-transform: translateY(-7px);
    -o-transform: translateY(-7px);
    transform: translateY(-7px);
  }
  55% {
    -moz-transform: translateY(-7px);
    -ms-transform: translateY(-7px);
    -webkit-transform: translateY(-7px);
    -o-transform: translateY(-7px);
    transform: translateY(-7px);
  }
  100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes t-arrow-bottom {
  0% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -moz-transform: translateY(-7px);
    -ms-transform: translateY(-7px);
    -webkit-transform: translateY(-7px);
    -o-transform: translateY(-7px);
    transform: translateY(-7px);
  }
  55% {
    -moz-transform: translateY(-7px);
    -ms-transform: translateY(-7px);
    -webkit-transform: translateY(-7px);
    -o-transform: translateY(-7px);
    transform: translateY(-7px);
  }
  100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}
.t-cover__arrow-wrapper_animated {
  animation: t-arrow-bottom 1.7s infinite ease;
}
.t-cover__arrow {
  position: absolute;
  z-index: 9;
  bottom: 40px;
  right: 0;
  left: 0;
  text-align: center;
}
.t-cover__arrow-wrapper {
  display: inline-block;
  -webkit-transition: all ease-in-out 0.2s;
  -moz-transition: all ease-in-out 0.2s;
  -o-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
  cursor: pointer;
}
.t-cover__arrow-wrapper:hover {
  opacity: .7;
}
.t-cover__arrow-svg {
  fill: #fff;
}
@media screen and (max-width: 640px) {
  .t-cover__arrow_mobile {
    -moz-transform: scale(.7);
    -ms-transform: scale(.7);
    -webkit-transform: scale(.7);
    -o-transform: scale(.7);
    transform: scale(.7);
  }
  .t-cover__arrow {
    bottom: 14px;
  }
}
.t-btn {
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  height: 60px;
  border: 0 none;
  font-size: 16px;
  padding-left: 60px;
  padding-right: 60px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  font-weight: bold;
  background-image: none;
  cursor: pointer;
  -webkit-appearance: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.t-btn td {
  vertical-align: middle;
}
@media screen and (max-width: 640px) {
  .t-btn {
    white-space: normal;
    padding-left: 30px;
    padding-right: 30px;
  }
}
.t-submit {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  height: 60px;
  border: 0 none;
  font-size: 16px;
  padding-left: 60px;
  padding-right: 60px;
  -webkit-appearance: none;
  font-weight: bold;
  white-space: nowrap;
  background-image: none;
  cursor: pointer;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media screen and (max-width: 640px) {
  .t-submit {
    white-space: normal;
    padding-left: 30px;
    padding-right: 30px;
  }
}
.t-input {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 100%;
  height: 60px;
  padding: 0px 20px;
  font-size: 16px;
  line-height: 1.33;
  width: 100%;
  border: 0 none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.t-input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
@media screen and (max-width: 1200px) {
  .t-screenmin-1200px {
    display: none;
  }
}
@media screen and (max-width: 980px) {
  .t-screenmin-980px {
    display: none;
  }
}
@media screen and (max-width: 640px) {
  .t-screenmin-640px {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .t-screenmin-480px {
    display: none;
  }
}
@media screen and (max-width: 320px) {
  .t-screenmin-320px {
    display: none;
  }
}
@media screen and (min-width: 321px) {
  .t-screenmax-320px {
    display: none;
  }
}
@media screen and (min-width: 481px) {
  .t-screenmax-480px {
    display: none;
  }
}
@media screen and (min-width: 641px) {
  .t-screenmax-640px {
    display: none;
  }
}
@media screen and (min-width: 981px) {
  .t-screenmax-980px {
    display: none;
  }
}
@media screen and (min-width: 1201px) {
  .t-screenmax-1200px {
    display: none;
  }
}
.t-hidden {
  display: none;
}
.t-opacity_50 {
  filter: alpha(opacity=50);
  KHTMLOpacity: 0.50;
  MozOpacity: 0.50;
  opacity: 0.50;
}
.t-opacity_70 {
  filter: alpha(opacity=70);
  KHTMLOpacity: 0.70;
  MozOpacity: 0.70;
  opacity: 0.70;
}
.t-uppercase {
  text-transform: uppercase;
}
.t-align_center {
  text-align: center;
}
.t-align_left {
  text-align: left;
}
.t-align_right {
  text-align: right;
}
.t-margin_auto {
  margin: 0 auto;
}
.t-valign_middle {
  vertical-align: middle;
}
.t-valign_top {
  vertical-align: top;
}
.t-valign_bottom {
  vertical-align: bottom;
}
.yashare-style .b-share-btn__facebook,
.yashare-style .b-share-btn__twitter,
.yashare-style .b-share-btn__vkontakte {
  background-color: transparent !important;
}
.yashare-style .b-share__link {
  -webkit-border-radius: 0px !important;
  border-radius: 0px !important;
}
.yashare-style-black-white .b-share-btn__wrap {
  background-color: #000 !important;
  padding: 5px !important;
}
.yashare-style-transp-white .b-share-btn__wrap {
  padding: 5px !important;
}
.yashare-style-transp-white .b-share-counter {
  color: #fff;
  font-weight: bold;
}
.yashare-style-white-black .b-share-btn__wrap {
  background-color: #fff !important;
  padding: 5px !important;
}
.yashare-style-white-black .b-share-icon {
  background-image: url("https://tilda.ws/img/b-share_counter_large_white.png") !important;
}
.yashare-style-transp-black .b-share-btn__wrap {
  padding: 5px !important;
}
.yashare-style-transp-black .b-share-icon {
  background-image: url("https://tilda.ws/img/b-share_counter_large_white.png") !important;
}
.yashare-style-transp-black .b-share-counter {
  color: #000;
  font-weight: bold;
}
.ya-share2 ul {
  padding-left: 0px !important;
}
.carousel {
  position: relative;
}
.carousel ol {
  padding-left: 0px !important;
}
.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.carousel-inner > .item {
  position: relative;
  display: none;
  -webkit-transition: 0.9s ease-in-out left;
  transition: 0.9s ease-in-out left;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  height: auto;
  line-height: 1;
}
.carousel-inner .widthauto {
  width: auto;
  max-width: 100%;
  vertical-align: middle;
}
.carousel-inner > .active,
.carousel-inner > .next,
.carousel-inner > .prev {
  display: block;
}
.carousel-inner > .active {
  left: 0;
}
.carousel-inner > .next,
.carousel-inner > .prev {
  position: absolute;
  top: 0;
  width: 100%;
}
.carousel-inner > .next {
  left: 100%;
}
.carousel-inner > .prev {
  left: -100%;
}
.carousel-inner > .next.left,
.carousel-inner > .prev.right {
  left: 0;
}
.carousel-inner > .active.left {
  left: -100%;
}
.carousel-inner > .active.right {
  left: 100%;
}
.carousel-control {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15%;
  opacity: 0.2;
  filter: alpha(opacity=20);
}
.carousel-control.right {
  right: 0;
  left: auto;
}
.carousel-control .carousel-control-left {
  position: absolute;
  top: 48%;
  z-index: 5;
  display: inline-block;
  left: 20%;
  height: 34px;
  width: 21px;
  background: url(//tilda.ws/img/aboutSliderControls.png) no-repeat;
}
.carousel-control .carousel-control-left-white {
  position: absolute;
  top: 48%;
  z-index: 5;
  display: inline-block;
  left: 20%;
  height: 34px;
  width: 21px;
  background: url(//tilda.ws/img/aboutSliderControls_white.png) no-repeat;
}
.carousel-control .carousel-control-right {
  position: absolute;
  top: 48%;
  z-index: 5;
  display: inline-block;
  right: 20%;
  height: 34px;
  width: 21px;
  background: url(//tilda.ws/img/aboutSliderControls.png) no-repeat;
  background-position: left bottom;
}
.carousel-control .carousel-control-right-white {
  position: absolute;
  top: 48%;
  z-index: 5;
  display: inline-block;
  right: 20%;
  height: 34px;
  width: 21px;
  background: url(//tilda.ws/img/aboutSliderControls_white.png) no-repeat;
  background-position: left bottom;
}
.carousel-indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  z-index: 15;
  width: 60%;
  padding-left: 0;
  margin-left: -30%;
  text-align: center;
  list-style: none;
}
.carousel-indicators.dotsbottom {
  bottom: -60px;
}
.carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px;
  margin-left: 5px;
  margin-right: 5px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #000000;
  border: none;
  border-radius: 10px;
}
.carousel-indicators .active {
  width: 10px;
  height: 10px;
  margin: 0;
  margin-left: 4px;
  margin-right: 4px;
  border: 1px solid #000000;
  border-radius: 10px;
  background-color: transparent;
}
.carousel-indicators li.white {
  background-color: #fff;
}
.carousel-indicators li.white.active {
  border: 1px solid #fff;
  border-radius: 10px;
  background-color: transparent;
}
.carousel-caption-imgs h6 {
  font-family: 'Open Sans', serif;
  color: #000000;
  font-weight: normal;
  font-size: 14px;
  line-height: 28px;
  padding-top: 28px;
  padding-bottom: 0px;
  text-align: center;
}
.carousel-caption-imgs p {
  font-family: 'Open Sans', serif;
  color: #000000;
  font-size: 14px;
  line-height: 28px;
  padding-top: 14px;
  padding-bottom: 14px;
  text-align: center;
}
.carousel-title {
  font-family: 'Roboto', sans-serif;
  color: #000000;
  font-size: 18px;
  line-height: 28px;
  padding-top: 36px;
  padding-bottom: 14px;
  text-align: center;
}
.carousel-descr {
  font-family: 'Open Sans', serif;
  color: #000000;
  font-size: 14px;
  line-height: 28px;
  padding-top: 14px;
  padding-bottom: 14px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .carousel-indicators {
    bottom: 20px;
  }
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: " ";
}
.clearfix:after {
  clear: both;
}
.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (max-width: 960px) {
  .carousel-control .carousel-control-left {
    left: 10%;
  }
  .carousel-control .carousel-control-left-white {
    left: 10%;
  }
  .carousel-control .carousel-control-right {
    right: 10%;
  }
  .carousel-control .carousel-control-right-white {
    right: 10%;
  }
}
.t-tildalabel {
  background-color: #000;
  color: #fff;
  width: 100%;
  height: 70px;
  font-family: Arial;
  font-size: 14px;
}
.t-tildalabel:hover .t-tildalabel__wrapper {
  opacity: 1;
}
.t-tildalabel_white {
  background-color: #fff;
  color: #000;
}
.t-tildalabel_gray {
  background-color: #eee;
  color: #000;
}
.t-tildalabel__wrapper {
  display: table;
  height: 30px;
  width: 270px;
  margin: 0 auto;
  padding-top: 20px;
  opacity: 0.4;
}
.t-tildalabel__txtleft {
  display: table-cell;
  width: 120px;
  height: 30px;
  vertical-align: middle;
  text-align: right;
  padding-right: 12px;
  font-weight: 300;
  font-size: 12px;
}
.t-tildalabel__wrapimg {
  display: table-cell;
  width: 30px;
  height: 30px;
  vertical-align: middle;
}
.t-tildalabel__img {
  width: 30px;
  height: 30px;
  vertical-align: middle;
}
.t-tildalabel__txtright {
  display: table-cell;
  width: 120px;
  height: 30px;
  vertical-align: middle;
  padding-left: 12px;
  font-weight: 500;
  letter-spacing: 2px;
}
.t-tildalabel__link {
  color: #fff;
  text-decoration: none;
  vertical-align: middle;
}
.t-tildalabel_white .t-tildalabel__link,
.t-tildalabel_gray .t-tildalabel__link {
  color: #000;
}
.t-carousel {
  position: relative;
}
.t-carousel__inner {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}
.t-carousel__slides {
  position: relative;
}
.t-carousel__inner > .t-carousel__item {
  position: relative;
  display: none;
  -webkit-transition: 0 ease-in-out left;
  -moz-transition: 0 ease-in-out left;
  -o-transition: 0 ease-in-out left;
  transition: 0 ease-in-out left;
}
.t-carousel__inner > .t-carousel__item.t-carousel__animation_fast {
  -webkit-transition: .3s ease-in-out left;
  -moz-transition: .3s ease-in-out left;
  -o-transition: .3s ease-in-out left;
  transition: .3s ease-in-out left;
}
.t-carousel__inner > .t-carousel__item.t-carousel__animation_slow {
  -webkit-transition: .6s ease-in-out left;
  -moz-transition: .6s ease-in-out left;
  -o-transition: .6s ease-in-out left;
  transition: .6s ease-in-out left;
}
.t-carousel__item__wrapper {
  position: relative;
  margin: 0 auto;
}
.t-carousel__item__img {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.t-carousel_cover .t-carousel__item__img {
  background-size: cover;
}
.t-carousel__inner > .active,
.t-carousel__inner > .next,
.t-carousel__inner > .prev {
  display: block;
}
.t-carousel__inner > .active {
  left: 0;
}
.t-carousel__inner > .next,
.t-carousel__inner > .prev {
  position: absolute;
  top: 0;
  width: 100%;
}
.t-carousel__inner > .next {
  left: 100%;
}
.t-carousel__inner > .prev {
  left: -100%;
}
.t-carousel__inner > .next.left,
.t-carousel__inner > .prev.right {
  left: 0;
}
.t-carousel__inner > .active.left {
  left: -100%;
}
.t-carousel__inner > .active.right {
  left: 100%;
}
.t-carousel__arrows__container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  pointer-events: none;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGP6zwAAAgcBApocMXEAAAAASUVORK5CYII=',sizingMethod='scale');
  background: none !important;
}
.t-carousel__arrow_outsidesmall .t-carousel__arrow__wrapper_left {
  left: 16px;
}
.t-carousel__arrow_outsidesmall .t-carousel__arrow__wrapper_right {
  right: 16px;
}
.t-carousel__arrow_outsidemiddle .t-carousel__arrow__wrapper_left {
  left: 20px;
}
.t-carousel__arrow_outsidemiddle .t-carousel__arrow__wrapper_right {
  right: 20px;
}
.t-carousel__control {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15%;
  -webkit-transition: all ease-in-out 0.3s;
  -moz-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  pointer-events: auto;
}
.t-carousel__control:hover {
  opacity: .6;
}
.t-carousel__arrow {
  width: 34px;
  height: 34px;
  background: transparent;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.t-carousel__arrow.t-carousel__arrow_small {
  width: 20px;
  height: 20px;
}
.t-carousel__arrow.t-carousel__arrow_large {
  width: 54px;
  height: 54px;
}
.t-carousel__arrow__wrapper {
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
}
.t-carousel__arrow__wrapper_left {
  left: 30px;
}
.t-carousel__arrow__wrapper_right {
  right: 30px;
}
.t-carousel__arrow_right {
  border-top: 3px solid;
  border-right: 3px solid;
}
.t-carousel__arrow_right.t-carousel__arrow_light {
  border-top: 1px solid;
  border-right: 1px solid;
}
.t-carousel__arrow_right.t-carousel__arrow_bold {
  border-top: 6px solid;
  border-right: 6px solid;
}
.t-carousel__arrow_left {
  border-left: 3px solid;
  border-bottom: 3px solid;
}
.t-carousel__arrow_left.t-carousel__arrow_light {
  border-left: 1px solid;
  border-bottom: 1px solid;
}
.t-carousel__arrow_left.t-carousel__arrow_bold {
  border-left: 6px solid;
  border-bottom: 6px solid;
}
.t-carousel__control.right {
  right: 0;
  left: auto;
}
@media screen and (max-width: 768px) {
  .t-carousel__control .t-carousel__arrow {
    width: 12px;
    height: 12px;
  }
  .t-carousel-control {
    width: 10%;
  }
  .t-carousel__arrow__left {
    left: 15px;
  }
  .t-carousel__arrow__right {
    right: 15px;
  }
}
.t-carousel__indicators.carousel-indicators {
  z-index: 15;
  text-align: center;
  list-style: none;
  position: relative;
  padding-left: 0 !important;
  margin: 0 auto;
  padding: 20px 0;
  bottom: auto;
  left: auto;
}
.t-carousel__indicators.t-carousel__indicators_light {
  padding: 15px 0 18px;
}
.t-carousel__indicators.t-carousel__indicators_bold {
  padding: 24px 0 21px;
}
.t-carousel__indicators .t-carousel__indicator {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin: 0 6px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #222;
  border: none;
  border-radius: 10px;
  opacity: .4;
  -webkit-transition: .2s ease-in-out opacity;
  -moz-transition: .2s ease-in-out opacity;
  -o-transition: .2s ease-in-out opacity;
  transition: .2s ease-in-out opacity;
}
@media screen and (max-width: 640px) {
  .t-carousel__indicators.carousel-indicators,
  .t-carousel__indicators.t-carousel__indicators_light,
  .t-carousel__indicators.t-carousel__indicators_bold {
    padding: 15px 0;
  }
}
.t-carousel__indicators.t-carousel__indicators_light .t-carousel__indicator {
  width: 4px;
  height: 4px;
  margin: 0 5px;
}
.t-carousel__indicators.t-carousel__indicators_bold .t-carousel__indicator {
  width: 10px;
  height: 10px;
  margin: 0 6px;
}
.t-carousel__indicators .t-carousel__indicator:hover {
  opacity: .8;
}
.t-carousel__indicators .t-carousel__indicator.active {
  opacity: 1;
}
.t-carousel__indicators.t-carousel__indicators_inside {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.t-carousel__caption-inside {
  display: none;
}
.t-carousel__caption_wrapper {
  border-top: 1px solid #eee;
  padding: 14px 0;
}
.t-carousel__descr {
  margin-top: 5px;
  color: #777;
}
.t-zoomer__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0;
  -webkit-transition: all ease-in-out .2s;
  -moz-transition: all ease-in-out .2s;
  -o-transition: all ease-in-out .2s;
  transition: all ease-in-out .2s;
}
.t-zoomer__show .t-zoomer__wrapper {
  z-index: 9999999;
  opacity: 1;
}
.t-zoomer__container {
  text-align: center;
  position: absolute;
  top: 15px;
  right: 15px;
  left: 15px;
  bottom: 15px;
}
.t-zoomer__comments {
  bottom: 60px;
}
.t-zoomer__img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  overflow: auto;
  z-index: 2;
  -webkit-transition: all ease-in-out .2s;
  -moz-transition: all ease-in-out .2s;
  -o-transition: all ease-in-out .2s;
  transition: all ease-in-out .2s;
  -moz-transform: scale(.9);
  -ms-transform: scale(.9);
  -webkit-transform: scale(.9);
  -o-transform: scale(.9);
  transform: scale(.9);
  opacity: 0;
}
.t-zoomer__show .t-zoomer__img {
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
.t-zoomer__bg {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #fff;
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
}
.t-zoomer__descr {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
  text-align: center;
  padding: 20px;
  background: transparent;
}
.t-zoomable {
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}
.t-zoomer__show .t-zoomer__img,
.t-zoomer__show .t-zoomable {
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
}
.t006 {
  position: relative;
}
.t006__line_top {
  width: 100%;
  text-align: center;
  position: relative;
}
.t006__line_top:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #000000;
}
.t006__line_bottom {
  border-top: 1px solid #000000;
  width: 100%;
  height: 1px;
  text-align: center;
  margin-top: 22px;
  padding-bottom: 4px;
}
.t006__uptitle {
  padding: 10px 43px;
  background-color: #000000;
  display: inline-block;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
  z-index: 1;
}
.t006__text-impact {
  padding: 40px 0 30px 0;
  text-align: center;
}
.t006 .t-col_10 {
  margin: 0;
}
@media screen and (max-width: 640px) {
  .t006 .t-col_10 {
    margin: 0;
    padding: 0;
  }
  .t006__text-impact {
    padding-left: 0px;
    padding-right: 0px;
  }
  .t006__line_top {
    height: auto;
  }
}
.t022__text {
  padding-top: 8px;
  padding-bottom: 6px;
}
.t182 {
  text-align: center;
}
.t182__wrapper {
  padding-top: 42px;
  padding-bottom: 42px;
}
.t182__title {
  color: #fff;
  padding: 24px 0px 24px 0px;
  letter-spacing: 1px;
}
.t182__descr {
  color: #fff;
  padding: 15px 0px 30px 0px;
}
.t182__buttons {
  margin-top: 45px;
}
.t182 .t-btn:nth-child(2) {
  margin-left: 10px;
}
@media screen and (max-width: 640px) {
  .t182__title {
    font-size: 30px;
    line-height: 30px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .t182__descr {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    line-height: 20px;
  }
  .t182 .t-btn:nth-child(2) {
    margin-left: 5px;
  }
  .t182 .t-btn {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}
.t197 {
  width: 100%;
  min-height: 80px;
  z-index: 990;
  position: fixed;
  top: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.1);
  align-items: center;
}
.t197__leftside {
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 40px;
  padding-right: 40px;
  align-self: center;
}
.t197__logo {
  font-size: 24px;
  font-weight: 400;
}
.t197__rightside {
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 40px;
  padding-right: 40px;
  align-self: center;
}
.t197__righttitle {
  font-size: 20px;
  font-weight: 300;
  margin-top: auto;
  margin-bottom: auto;
  align-self: center;
}
.t197__rightwrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.t197__rightbuttons {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 20px;
}
.t197 .t-btn {
  height: 40px;
  font-size: 14px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: 10px;
}
.t197 a {
  text-decoration: none;
  color: #000000;
}
@media screen and (max-width: 640px) {
  .t197 {
    position: relative;
    text-align: center;
    display: block;
    margin: 0;
    padding: 0;
    height: auto !important;
  }
  .t197__leftside,
  .t197__rightside {
    padding: 20px;
  }
  .t197__rightwrapper {
    text-align: center;
    display: block;
  }
  .t197__rightbuttons {
    margin: 20px;
  }
  .t197__logo {
    text-align: center;
    margin: 20px;
  }
  .t197 img {
    float: inherit;
  }
}
.t218__blocktable {
  width: 100%;
  height: 700px;
  margin: 0;
  padding: 0;
  border: 0;
  border-spacing: 0;
}
.t218__blocktext {
  width: 50%;
  height: 100%;
  vertical-align: middle;
}
.t218__blockimg {
  width: 50%;
  height: 100%;
  vertical-align: middle;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border: 0;
  margin: 0;
  padding: 0;
}
.t218__textwrapper {
  margin: 10%;
}
.t218__textfield {
  padding-top: 20px;
}
.t218__imgmobile {
  width: auto;
  max-width: 100%;
  vertical-align: middle;
  margin: 0;
}
@media screen and (max-width: 980px) {
  .t218__blockimg {
    display: none;
  }
  .t218__blockimgmobile {
    display: block !important;
    text-align: center;
    width: 100%;
    padding: 60px 0px 0px 0px;
  }
}
@media screen and (max-width: 640px) {
  .t218__descrfield {
    padding-top: 50px;
    width: 100%;
  }
  .t218__textfield {
    padding-bottom: 50px;
    width: 100%;
  }
  .t218__textwrapper {
    margin: 20px;
  }
}
.t278__mainwrapper {
  padding: 0 20px;
}
.t278__mainblock {
  margin: 0 auto;
}
.t278__title {
  color: #fff;
  margin-bottom: 40px;
}
.t278__descr {
  color: #fff;
  margin-bottom: 50px;
}
.t278__text {
  color: #fff;
  margin-top: 30px;
  margin-bottom: 30px;
  opacity: 0.7;
}
.t278__input-mainblock {
  margin: 0 auto;
}
.t278__wrapper {
  display: table;
  margin: 0 auto;
}
.t278__blockinput {
  display: inline-block;
  height: 100%;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}
.t278__blockinput textarea {
  padding-top: 17px;
}
.t278__input {
  height: 56px;
  outline: none;
}
.t278__blockbutton {
  display: inline-block;
  height: auto;
  width: 100%;
}
.t278__submit {
  height: 56px;
  padding: 0 20px;
  -webkit-transition: all ease-in-out 0.2s;
  -moz-transition: all ease-in-out 0.2s;
  -o-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
  width: 100%;
}
.t278__submit:hover {
  opacity: .8;
}
@media screen and (max-width: 670px) {
  .t278__title {
    margin-bottom: 18px;
  }
  .t278__descr {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 500px) {
  .t278__text {
    font-size: 10px;
  }
  .t278__blockinput {
    margin-bottom: 15px;
  }
}
.t278__blockinput-errors {
  background: #ff6666 none repeat scroll 0px 0px;
}
.t278 .js-error-control-box .t278__input {
  border: 1px solid #FF0000 !important;
}
.t278__blockinput-errors-text {
  color: #ffff77;
  box-sizing: border-box;
  padding: 0px 10px 10px 10px;
  font-family: 'Open Sans', serif;
}
.t278__blockinput-errors-item {
  padding-top: 10px;
  display: none;
  font-family: 'Open Sans', serif;
}
.t278__blockinput-errorbox {
  background: #ff6666 none repeat scroll 0px 0px;
  color: #ffff77;
  padding: 10px;
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Open Sans', serif;
}
.t278__blockinput-success {
  border: 1px solid #fff;
  text-align: center;
  color: #fff;
  padding: 20px;
  margin-bottom: 20px;
}
.t278__success-message {
  color: #fff;
}
.t278 .js-send-form-success .t278__wrapper {
  display: none;
}
.t345-container.t345-socials_block {
  height: auto !important;
  padding: 24px 0;
}
.t345-container {
  height: 80px;
}
.t345 .t345-col {
  height: 100%;
  margin: 0 auto;
  float: none;
  display: block;
}
.t345-col.t-col_100 {
  height: 100%;
  margin: 0 auto;
  display: block;
  width: 100%;
}
.t345-content {
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
}
.t345-socials_block .t345-text__wrapper {
  display: block;
}
.t345-text__wrapper {
  display: table-cell;
  vertical-align: middle;
}
.t345-text {
  display: inline-block;
}
.t345-socials {
  position: absolute;
  top: 50%;
  right: 0;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.t345-socials_block .t345-socials {
  position: relative;
  top: auto;
  right: auto;
  display: inline-block;
  margin-top: 14px;
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
.t345-share,
.t345-social {
  display: inline-block;
  vertical-align: middle;
}
.t345-social__wrapper,
.t345-social__item,
.t345-social {
  display: inline-block;
  margin-left: 4px;
  height: 30px;
  -webkit-transition: all ease-in-out .25s;
  -moz-transition: all ease-in-out .25s;
  -o-transition: all ease-in-out .25s;
  transition: all ease-in-out .25s;
}
.t345-social__item:hover {
  opacity: .8;
}
.t345-socials_block .t345-social__wrapper,
.t345-socials_block .t345-social__item,
.t345-socials_block .t345-social {
  margin-left: 0;
  margin-right: 4px;
}
.t345-text {
  color: #555;
}
