.basket

	&__namer
		position relative
		margin-right 15px
		display inline-block
		width 40px
		height 40px
		line-height 34px
		text-align center
		background-color transparent
		border-radius 50%
		border 3px solid #fff

	&__quantity
		margin 0
		font-size 14px

	&__item
		position absolute
		bottom 0
		width 10px
		height 10px
		background-color #fff

		&-1
			left -1px
			bottom -2px
			transform rotate(40deg)

		&-2
			left 12px
			bottom -6px

		&-3
			right -1px
			bottom -2px
			transform rotate(320deg)

	&__info
		display inline-block
		vertical-align middle

	&__value
		margin 0
		line-height 16px
		font-size 20px

	&__checkout
		text-transform uppercase
		font-size 10px
