.constructor
	padding-bottom 55px

	&__item
		margin-bottom 20px
		clear both

	&__num
		margin 0
		float left
		width 30px
		text-align center
		font-size 20px
		border 1px solid #fff
		opacity .4

	&__content
		margin-left 45px

	&__input
		padding 0
		width 100%
		text-transform uppercase
		font-size 20px
		color #fff
		background-color transparent
		outline 0
		border 0
		border-bottom 1px solid #fff

		&::-webkit-input-placeholder
			color rgba(255, 255, 255, .4)

		&::-moz-placeholder
			color rgba(255, 255, 255, .4)

		&:-moz-placeholder
			color rgba(255, 255, 255, .4)

		&:-ms-input-placeholder
			color rgba(255, 255, 255, .4)

	&__label
		margin 0
		font-size 10px

	&__props
		margin-top 5px
		font-size 0
		line-height 0

	&__prop
		margin 0 8px 10px 0
		padding 2px 8px
		display inline-block
		line-height normal
		font-size 15px
		color #fff
		background-color transparent
		border 1px solid #fff
		outline 0
		opacity .5

		&-active
			opacity 1

	&__colors
		line-height 0
		font-size 0

	&__color
		margin-right 10px
		padding 0
		display inline-block
		width 25px
		height 25px
		border 0
		outline 0
		opacity .5

		&-active
			opacity 1

		&-1
			background-color #000

		&-2
			background-color #fff

		&-3
			background-color #513737

		&-4
			background-color #ff8a8a

		&-5
			background-color #1f9a44

	&__length
		margin 13px 0 38px
		float left
		width 305px
		height 1px
		border-radius 0
		border 0

		& .noUi-handle
			top -3px
			left 0
			width 7px
			height 7px
			border-radius 50%
			cursor pointer

			&:before
				display none

			&:after
				display none

		& .noUi-tooltip
			top 10px !important
			left -12px
			padding 0
			white-space nowrap
			font-size 15px
			color #fff
			background-color transparent
			border 0

	&__guide
		margin-left 35px
		display inline-block
		line-height 12px
		font-size 10px
		text-decoration underline

		&:hover
			opacity 1

	&__textarea
		margin-top 6px
		padding 0
		width 100%
		resize none
		font-size 15px
		color #fff
		background-color transparent
		border 0
		border-bottom 1px solid #fff
		outline 0

		&::-webkit-input-placeholder
			color rgba(255, 255, 255, .5)

		&::-moz-placeholder
			color rgba(255, 255, 255, .5)

		&:-moz-placeholder
			color rgba(255, 255, 255, .5)

		&:-ms-input-placeholder
			color rgba(255, 255, 255, .5)

	&__submit
		margin-left 45px
		padding 10px 24px
		float left
		text-transform uppercase
		font-size 20px
		color #163259
		background-color #fff
		border 0
		outline 0
		box-shadow 3px 3px 0 rgba(0, 0, 0, .1)

	&__checkout
		margin-left 20px
		padding 7px 24px
		float left
		text-transform uppercase
		font-size 20px
		color #fff
		background-color transparent
		border 3px solid #fff
		outline 0
		box-shadow 3px 3px 0 rgba(0, 0, 0, .1)

		&:after
			content ""
			position relative
			top 3px
			margin-left 12px
			width 20px
			height 22px
			display inline-block
			background-image url('/static/images/base/arrow.svg')
