@font-face {
	font-family: 'Lato';
	src: url('/static/fonts/LatoRegular/LatoRegular.eot');
	src: url('/static/fonts/LatoRegular/LatoRegular.eot?#iefix')format('embedded-opentype'),
	url('/static/fonts/LatoRegular/LatoRegular.woff') format('woff'),
	url('/static/fonts/LatoRegular/LatoRegular.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'Lato';
	src: url('/static/fonts/Lato-Medium/Lato-Medium.eot?#iefix') format('embedded-opentype'),
	url('/static/fonts/Lato-Medium/Lato-Medium.woff') format('woff'),
	url('/static/fonts/Lato-Medium/Lato-Medium.ttf') format('truetype'),
	url('/static/fonts/Lato-Medium/Lato-Medium.svg#Lato-Medium') format('svg');
	font-style: normal;
	font-weight: 500;
}

@font-face {
	font-family: 'Lato';
	src: url('/static/fonts/LatoBold/LatoBold.eot');
	src: url('/static/fonts/LatoBold/LatoBold.eot?#iefix')format('embedded-opentype'),
	url('/static/fonts/LatoBold/LatoBold.woff') format('woff'),
	url('/static/fonts/LatoBold/LatoBold.ttf') format('truetype');
	font-style: normal;
	font-weight: 700;
}

@font-face {
	font-family: 'MorePro';
	src: url('/static/fonts/MorePro-Book/MorePro-Book.eot?#iefix') format('embedded-opentype'),
	url('/static/fonts/MorePro-Book/MorePro-Book.otf') format('opentype'),
	url('/static/fonts/MorePro-Book/MorePro-Book.woff') format('woff'),
	url('/static/fonts/MorePro-Book/MorePro-Book.ttf') format('truetype'),
	url('/static/fonts/MorePro-Book/MorePro-Book.svg#MorePro-Book') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'MorePro';
	src: url('/static/fonts/MorePro-BookItalic/MorePro-BookItalic.eot?#iefix') format('embedded-opentype'),
	url('/static/fonts/MorePro-BookItalic/MorePro-BookItalic.otf') format('opentype'),
	url('/static/fonts/MorePro-BookItalic/MorePro-BookItalic.woff') format('woff'),
	url('/static/fonts/MorePro-BookItalic/MorePro-BookItalic.ttf') format('truetype'),
	url('/static/fonts/MorePro-BookItalic/MorePro-BookItalic.svg#MorePro-BookItalic') format('svg');
	font-style: italic;
	font-weight: normal;
}

@font-face {
	font-family: 'MorePro';
	src: url('/static/fonts/MorePro-Bold/MorePro-Bold.eot?#iefix') format('embedded-opentype'),
	url('/static/fonts/MorePro-Bold/MorePro-Bold.otf') format('opentype'),
	url('/static/fonts/MorePro-Bold/MorePro-Bold.woff') format('woff'),
	url('/static/fonts/MorePro-Bold/MorePro-Bold.ttf') format('truetype'),
	url('/static/fonts/MorePro-Bold/MorePro-Bold.svg#MorePro-Bold') format('svg');
	font-style: normal;
	font-weight: 700;
}

@font-face {
	font-family: 'SFUIDisplay';
	src: url('/static/fonts/SFUIDisplay-Light/sfuidisplay-light-webfont.eot');
	src: url('/static/fonts/SFUIDisplay-Light/sfuidisplay-light-webfont.eot?#iefix') format('embedded-opentype'),
	url('/static/fonts/SFUIDisplay-Light/sfuidisplay-light-webfont.woff2') format('woff2'),
	url('/static/fonts/SFUIDisplay-Light/sfuidisplay-light-webfont.woff') format('woff'),
	url('/static/fonts/SFUIDisplay-Light/sfuidisplay-light-webfont.ttf') format('truetype'),
	url('/static/fonts/SFUIDisplay-Light/sfuidisplay-light-webfont.svg#sf_ui_displaylight') format('svg');
	font-weight: 100;
	font-style: normal;
}
