.header
	padding-top 60px
	margin-bottom 55px

	&__logo
		display block
		width 221px
		height 68px
		background-image url('/static/images/base/logo.svg')
		background-repeat no-repeat

	&__label
		margin 0
		line-height 12px
		font-size 10px

	&__value
		margin 0
		font-size 20px

	&__name
		margin 0
		line-height 24px
		font-size 20px

	&__logout
		text-transform uppercase
		font-size 10px
		text-decoration underline

		&:hover
			text-decoration none
