.namer

	&__item
		margin-bottom 40px

	&__visual
		position relative
		margin 0 auto 55px
		display flex
		align-items center
		width 260px
		height 260px
		border-radius 50%
		border 8px solid #000
		transition all .3s ease

		&-list
			margin-bottom 30px

		&-1

			& .namer__letter-1
				left 50%
				bottom -21px
				margin-left -20px

		&-2

			& .namer__letter-1
				left 71px
				bottom -21px
				transform rotate(21deg)

			& .namer__letter-2
				right 78px
				bottom -21px
				transform rotate(339deg)

		&-3

			& .namer__letter-1
				left 52px
				bottom -12px
				transform rotate(21deg)

			& .namer__letter-2
				left 50%
				bottom -21px
				margin-left -20px

			& .namer__letter-3
				right 52px
				bottom -12px
				transform rotate(339deg)

		&-4

			& .namer__letter-1
				left 28px
				bottom 6px
				transform rotate(46deg)

			& .namer__letter-2
				left 71px
				bottom -21px
				transform rotate(21deg)

			& .namer__letter-3
				right 78px
				bottom -21px
				transform rotate(339deg)

			& .namer__letter-4
				right 35px
				bottom 6px
				transform rotate(314deg)

		&-5

			& .namer__letter-1
				left 9px
				bottom 16px
				transform rotate(46deg)

			& .namer__letter-2
				left 52px
				bottom -12px
				transform rotate(21deg)

			& .namer__letter-3
				left 50%
				bottom -21px
				margin-left -20px

			& .namer__letter-4
				right 52px
				bottom -12px
				transform rotate(339deg)

			& .namer__letter-5
				right 9px
				bottom 16px
				transform rotate(314deg)

		&-6

			& .namer__letter-1
				left -15px
				bottom 34px
				transform rotate(71deg)

			& .namer__letter-2
				left 28px
				bottom 6px
				transform rotate(46deg)

			& .namer__letter-3
				left 71px
				bottom -21px
				transform rotate(21deg)

			& .namer__letter-4
				right 78px
				bottom -21px
				transform rotate(339deg)

			& .namer__letter-5
				right 35px
				bottom 6px
				transform rotate(314deg)

	&__props
		margin 0 0 0 25px
		padding 0
		list-style none

	&__prop
		margin 8px 0
		line-height 12px

	&__label
		margin 0
		font-size 10px

	&__value
		margin 0
		font-size 16px

	&__letter
		position absolute
		margin 0
		padding 6px 0
		width 40px
		text-align center
		text-transform uppercase
		font-size 20px
		color #000
		gradient-vertical(#fff, #ababab)
		box-shadow 2px 2px 2px rgba(0, 0, 0, .3)
		-webkit-backface-visibility hidden

		// &-1
		// 	left 9px
		// 	bottom 16px
		// 	transform rotate(46deg)
		//
		// &-2
		// 	left 52px
		// 	bottom -12px
		// 	transform rotate(21deg)
		//
		// &-3
		// 	left 50%
		// 	bottom -21px
		// 	margin-left -20px
		//
		// &-4
		// 	right 52px
		// 	bottom -12px
		// 	transform rotate(339deg)
		//
		// &-5
		// 	right 9px
		// 	bottom 16px
		// 	transform rotate(314deg)

	&__info
		text-align center

	&__price
		margin 0
		font-size 20px

		&-old
			margin-left 10px
			text-decoration line-through
			font-size 16px
			opacity .5

	&__share
		margin-top 30px
		padding 12px 18px
		text-transform uppercase
		font-size 10px
		background-color transparent
		border 1px solid #fff
		outline 0

	&__link
		margin-top 15px
		display inline-block
		font-family $font-family-sfuidisplay
		font-size 15px

	&__letters
		position absolute !important
		width 244px
		height 244px !important
		left 0
		bottom -21px

		& span
			display block
			width 40px
			height 40px
			line-height 40px
			text-align center
			text-transform uppercase
			font-size 16px
			color #000
			gradient-vertical(#fff, #ababab)
			box-shadow 2px 2px 2px rgba(0, 0, 0, .3)
			-webkit-backface-visibility hidden

	&__count
		margin-top 5px

	&__btn
		padding 0
		width 18px
		height 18px
		line-height 16px
		vertical-align middle
		background-color transparent
		border-radius 50%
		border 1px solid #fff
		outline 0
		opacity .5
		transition all .2s ease

		&:hover
			opacity 1

	&__quantity
		margin 0
		padding 0 8px
		display inline-block
		vertical-align middle
		font-size 20px

		&:after
			content "шт."
			font-size 10px

	&__add
		padding 12px 24px
		display inline-block
		text-transform uppercase
		font-size 10px
		border 1px solid #fff

	&__loading
		margin 10px 0 0

	&__error
		margin 10px 0 0
