.order
	margin-top 40px
	padding 60px 0
	width 100%
	color #000
	background-color #fff

	&__title
		margin 0 0 25px
		font-family $font-family-morepro
		font-size 20px
		border-bottom 1px solid #000

	&__input
		margin-bottom 20px
		padding 0
		width 100%
		font-size 15px
		border 0
		border-bottom 1px solid rgba(0, 0, 0, .05)
		outline 0

		&-promo
			padding-right 32px
			text-transform uppercase

	&__radio
		display none

		&:checked + .order__check:before
			background-color #000
			border 0

	&__check
		margin 0
		vertical-align middle
		font-size 15px
		font-weight normal
		cursor pointer

		&:before
			content ""
			margin-right 14px
			display inline-block
			width 10px
			height 10px
			background-color #fff
			border 1px solid #000
			border-radius 50%

	&__options
		margin-bottom 16px

	&__promo
		position relative

		&_err
			margin-bottom 3px
			color red

	&__discount
		position absolute
		top 0
		right 0
		font-size 15px
		color rgba(0, 0, 0, .6)

	&__total
		margin-bottom 10px
		overflow hidden

	&__label
		margin 0
		float left
		font-size 15px
		color rgba(0, 0, 0, .5)

	&__value
		margin 0
		float right
		font-size 15px

	&__price
		display inline-block

		&-old
			margin-left 5px
			text-decoration line-through
			font-size 12px
			opacity .5

	&__buy
		margin-top 25px
		padding 10px 47px
		float right
		text-transform uppercase
		font-size 20px
		color #fff
		background-color #3b67a6
		border 0
		outline 0
