{% load static %}

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Оплата за заказ №{{ object.pk }} – NAMER / НЭЙМЕР</title>
		<link rel="stylesheet" href="{% static "styles/base.css" %}">
	</head>
	<body>

		<div class="container">
			<div class="row">
				<h1 class="text-center" style="margin:50px 0;">Оплата за заказ №{{ object.pk }}</h1>
			</div>

			<div class="row">
				<!--
				{% for n in object.orderitem_set.all %}
					<div class="col-xs-12 col-md-4">
						<div class="namer__visual" style="border-color: #000">
							<ul class="namer__props">
								<li class="namer__prop">
									<p class="namer__label translucent">Ремешок</p>

									<p class="namer__value">{{ n.strap_material }} / {{ n.strap_material_color }}</p>
								</li>

								<li class="namer__prop">
									<p class="namer__label translucent">Длина</p>

									<p class="namer__value">{{ n.strap_length }} см</p>
								</li>

								<li class="namer__prop">
									<p class="namer__label translucent">Подвеска</p>

									<p class="namer__value">{{ n.pendant }}</p>
								</li>
							</ul>

							<div class="namer__letters" ref="namer_letters">{{ n.namer }}</div>
						</div>
					</div>
				{% endfor %}
				-->

				<div class="col-xs-12 col-md-8 col-md-offset-2">
					<table class="table">
						<thead>
							<tr>
								<th>NAMER</th>
								<th>Ремешок</th>
								<th>Цвет ремешка</th>
								<th>Длина ремешека</th>
								<th>Подвеска</th>
								<th>Количество</th>
								<th>Стоимость</th>
							</tr>
						</thead>

						<tbody>
							{% for i in object.orderitem_set.all %}
								<tr>
									<td>{{ i.namer }}</td>
									<td>{{ i.strap_material }}</td>
									<td>{{ i.strap_material_color }}</td>
									<td>{{ i.strap_length }} см</td>
									<td>{{ i.pendant }}</td>
									<td>{{ i.quantity }}</td>
									<td>{{ i.cost }} руб</td>
								</tr>
							{% endfor %}
						</tbody>

						<tfoot>
							<tr>
								<th colspan="6" class="text-right">Промокод: {{ object.promocode.code }}</th>
								<th>-{{ object.promocode.percent }}%</th>
							</tr>

							<tr>
								<th colspan="6" class="text-right">
									Доставка: {{ object.delivery_company }}
								</th>
								<th>
									{{ object.delivery_cost }} руб
								</th>
							</tr>

							<tr>
								<th colspan="6" class="text-right">Итог:</th>
								<th>{{ object.get_total|floatformat }} руб</th>
							</tr>
						</tfoot>
					</table>
				</div>
			</div>

			<div class="row order">
				<div class="col-xs-10 col-md-8 col-md-offset-2">
					<form method="post" action="https://money.yandex.ru/quickpay/confirm.xml">
						<div class="row">
							<div class="col-md-4 col-md-offset-8">
								<input type="hidden" name="receiver" value="41001642838937">
								<input type="hidden" name="formcomment" value="NAMER. Заказ №{{ object.pk }}.">
								<input type="hidden" name="short-dest" value="NAMER. Заказ №{{ object.pk }}.">
								<input type="hidden" name="label" value="{{ object.pk }}">
								<input type="hidden" name="quickpay-form" value="donate">
								<input type="hidden" name="targets" value="NAMER. Оплата заказа №{{ object.pk }}">
								<input type="hidden" name="sum" value="{{ object.get_total|floatformat }}" data-type="number">
								<input type="hidden" name="need-email" value="true">
								<input type="hidden" name="need-phone" value="true">
								<label><input type="radio" name="paymentType" value="PC"> Яндекс.Деньгами</label>
								<label><input type="radio" name="paymentType" value="AC"> Банковской картой</label>
								<button class="order__buy" type="submit">Оплатить</button>
							</div>
						</div>
					</form>

				</div>
			</div>
		</div>

		<script src="https://rawgit.com/peterhry/CircleType/master/js/circletype.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/remodal/1.0.7/remodal.min.js"></script>
		<script src="{% static "scripts/scripts.js" %}"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
		<!-- Yandex.Metrika counter --> <script type="text/javascript"> (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter37125950 = new Ya.Metrika({ id:37125950, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true, trackHash:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/37125950" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->
	</body>
</html>
