{% load static %}

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Создай свой нэймер – NAMER / НЭЙМЕР</title>
		<meta property="og:url" content="http://getnamer.ru/create/" />
		<meta property="og:image" content="https://static.tildacdn.com/tild6236-6461-4163-b036-623834396233/tild3362-3764-4266-a161-643433356530_autothumb.jpg" />
		<meta property="og:title" content="NAMER / НЭЙМЕР" />
		<meta property="og:description" content="Создай свой неповторимый нэймер!" />
		<meta property="og:type" content="website" />
		<meta property="fb:app_id" content="257953674358265" />
		<meta name="format-detection" content="telephone=no" />

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/8.3.0/nouislider.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remodal/1.0.7/remodal.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remodal/1.0.7/remodal-default-theme.min.css">
		<link rel="stylesheet" href="{% static "styles/base.css" %}">
	</head>
	<body>
		<div id="root"></div>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/8.3.0/nouislider.min.js"></script>
		<script src="{% static "libs/wNumb/wNumb.js" %}"></script>
		<script src="https://rawgit.com/peterhry/CircleType/master/js/plugins.js"></script>
		<script src="https://rawgit.com/peterhry/CircleType/master/js/circletype.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/remodal/1.0.7/remodal.min.js"></script>
		<script src="{% static "scripts/scripts.js" %}"></script>
		<script src="{% static "scripts/bundle.js" %}"></script>

		{% if namer %}
			<script>
				window.namer = {{ namer|safe }};
			</script>
		{% endif %}

		<!-- Yandex.Metrika counter --> <script type="text/javascript"> (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter37125950 = new Ya.Metrika({ id:37125950, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true, trackHash:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/37125950" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->
	</body>
</html>
