{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<title>NAMER / НЭЙМЕР</title>

	<meta property="og:url" content="http://getnamer.ru" />
	<meta property="og:image" content="https://static.tildacdn.com/tild6236-6461-4163-b036-623834396233/tild3362-3764-4266-a161-643433356530_autothumb.jpg" />
	<meta property="og:title" content="NAMER / НЭЙМЕР" />
	<meta property="og:description" content="Нэймер – это браслет с именем, словом, названием, инициалами, никнэймом и т.п." />
	<meta property="og:type" content="website" />
	<meta property="fb:app_id" content="257953674358265" />
	<meta name="format-detection" content="telephone=no" />

	<link rel="canonical" href="">
	<link rel="shortcut icon" href="{% static "landing/images/favicon.ico" %}" />

	<link rel="stylesheet" href="{% static "landing/css/tilda-grid-3.0.css" %}" type="text/css" media="all" />
	<link rel="stylesheet" href="{% static "landing/css/tilda-blocks-2.5.css?t=1462126539" %}" type="text/css" media="all" />


	<script src="{% static "landing/js/jquery-1.10.2.min.js" %}"></script>
	<script src="{% static "landing/js/bootstrap.min.js" %}"></script>
	<script src="{% static "landing/js/tilda-scripts-2.5.js" %}"></script>
	<script src="{% static "landing/js/tilda-blocks-2.3.js?t=1462126539" %}"></script>
	<script src="{% static "landing/js/tilda-forms-1.0.js" %}"></script>
</head>

<body class="t-body" style="margin:0;">


	<!--allrecords-->
	<div id="allrecords" class="t-records" data-hook="blocks-collection-content-node" data-tilda-page-id="162480"  >
		<div id="rec5310253" class="r" style=" " data-animationappear="off" data-record-type="205"   >
			<!-- cover -->

			<div class="t-cover" id="recorddiv5310253" bgimgfield="img" style="height:100vh; background-image:-webkit-linear-gradient(top, #ccc, #777); background-image:-moz-linear-gradient(top, #ccc, #777); background-image:-o-linear-gradient(top, #ccc, #777); background-image:-ms-linear-gradient(top, #ccc, #777); background-image:linear-gradient(top, #ccc, #777); ">
				<div class="t-cover__carrier" id="coverCarry5310253" data-content-cover-id="5310253"  data-content-cover-bg="{% static "landing/images/tild3362-3764-4266-a161-643433356530__hands.jpg" %}" data-content-cover-height="100vh" data-content-cover-parallax="dynamic"      style="background-image:url('{% static "landing/images/tild3362-3764-4266-a161-643433356530__hands.jpg" %}');height:100vh;background-attachment:scroll; "></div>

				<div class="t-cover__filter" style="height:100vh;background-image: -moz-linear-gradient(top, rgba(0,0,0,0.30), rgba(0,0,0,0.30));background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.30), rgba(0,0,0,0.30));background-image: -o-linear-gradient(top, rgba(0,0,0,0.30), rgba(0,0,0,0.30));background-image: -ms-linear-gradient(top, rgba(0,0,0,0.30), rgba(0,0,0,0.30));background-image: linear-gradient(top, rgba(0,0,0,0.30), rgba(0,0,0,0.30));filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#b2000000', endColorstr='#b2000000');"></div>

				<div class="t-container">
					<div class="t-width t-width_8" style="margin:0 auto;">
						<div class="t-cover__wrapper t-valign_middle" style="height:100vh; position: relative;z-index:1;">
							<div class="t182">
								<div data-hook-content="covercontent">
									<div class="t182__wrapper">
										<h1 class="t182__title t-title t-title_xl" field="title" style="font-family:'Open Sans';font-weight:100;">NAMER</h1>
										                                                                  <div class="t182__buttons">
										<a href="{% url "main:create" %}" target="" class="t-btn" style="color:#ffffff; border:3px solid #ffffff;  "><table style="width:100%; height:100%;"><tr><td>Создай свой неймер</td></tr></table></a>                                                  </div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- arrow -->
				<div class="t-cover__arrow"><div class="t-cover__arrow-wrapper t-cover__arrow-wrapper_animated"><div class="t-cover__arrow_mobile"><svg class="t-cover__arrow-svg"  x="0px" y="0px" width="38.417px" height="18.592px" viewBox="0 0 38.417 18.592" style="enable-background:new 0 0 38.417 18.592;"><g><path d="M19.208,18.592c-0.241,0-0.483-0.087-0.673-0.261L0.327,1.74c-0.408-0.372-0.438-1.004-0.066-1.413c0.372-0.409,1.004-0.439,1.413-0.066L19.208,16.24L36.743,0.261c0.411-0.372,1.042-0.342,1.413,0.066c0.372,0.408,0.343,1.041-0.065,1.413L19.881,18.332C19.691,18.505,19.449,18.592,19.208,18.592z"/></g></svg></div></div></div>
				<!-- arrow -->

			</div>


		</div>

		<div id="rec5310433" class="r" style="padding-top:70px;padding-bottom:70px; "  data-record-type="23"   >
			<!-- T006 -->
			<div class="t006">
				<div class="t-container">
					<div class="t-row">
						<div class="t-col t-col_12">
							<div class="t006__line_top">
								<div class="t006__uptitle t-uptitle t-uptitle_md" field="title">Нэймер?</div>
							</div>
						</div>
					</div>
					<div class="t-row">
						<div class="t-col t-col_12">
							<div class="t-col t-col_10 t-prefix_1">
								<div class="t006__text-impact t-text-impact t-text-impact_md"  field="text">Нэймер – это браслет с именем, словом, названием, инициалами, никнэймом и т.п.</div>
							</div>
						</div>
					</div>
					<div class="t-row">
						<div class="t-col t-col_12">
							<div class="t006__line_bottom"></div>
						</div>
					</div>
				</div>
			</div>

		</div>

		<div id="rec5310742" class="r" style="padding-top:0px;padding-bottom:0px; " data-animationappear="off" data-record-type="246"   >
			<!-- T218 -->
			<div class="t218">
				<div class="t218__blockimgmobile" style="display:none;background-color:#ffffff;"><img src="{% static "landing/images/tild3761-3366-4031-a139-396566393038__gift.jpg" %}" class="t218__imgmobile"></div>
				<table class="t218__blocktable" style="height:60vh;background-color:#ffffff;" data-height-correct-vh="yes">
					<tr>

						<td class="t218__blocktext">
							<div class="t218__textwrapper">
								<div class="t218__descrfield t-descr t-descr_xxxl" style="color:#000000;" field="title">Подарок</div>
								<div class="t218__textfield t-text t-text_md" style="color:#000000;" field="text"><a href="{% url "main:create" %}">Дорогостоящий подарок</a> не всегда способен вызвать эмоцию восторга. Так как настоящая ценность подарка в проявлении внимания и индивидуальности! <br /><br /><span style="font-size: 14px;"></span><span style="font-size: 14px;">Например: FORYOU, VLADIMIRVLADIMIROVICH</span><br /></div>
							</div>
						</td>
						<td class="t218__blockimg" bgimgfiled="img" style="background-image:url('{% static "landing/images/tild3761-3366-4031-a139-396566393038__gift.jpg" %}');"></td>
					</tr>
				</table>
			</div>

		</div>

		<div id="rec5310761" class="r" style="padding-top:0px;padding-bottom:0px;background-color:#ffffff; " data-animationappear="off" data-record-type="246"   data-bg-color="#ffffff">
			<!-- T218 -->
			<div class="t218">
				<div class="t218__blockimgmobile" style="display:none;background-color:#ffffff;"><img src="{% static "landing/images/tild3666-3263-4837-a130-643266303733__pendants.jpg" %}" class="t218__imgmobile"></div>
				<table class="t218__blocktable" style="height:60vh;background-color:#ffffff;" data-height-correct-vh="yes">
					<tr>
						<td class="t218__blockimg" bgimgfield="img" style="background-image:url('{% static "landing/images/tild3666-3263-4837-a130-643266303733__pendants.jpg" %}');"></td>

						<td class="t218__blocktext">
							<div class="t218__textwrapper">
								<div class="t218__descrfield t-descr t-descr_xxxl" style="color:#000000;" field="title">Цель</div>
								<div class="t218__textfield t-text t-text_md" style="color:#000000;" field="text">Надевай <a href="{% url "main:create" %}">нэймер</a> каждый день и он будет напоминать о твоей цели, а это отличная мотивация!<br /><br /><span style="font-size: 14px;">Например: PARIS, BMW750, 90X60X90</span></div>
							</div>
						</td>
					</tr>
				</table>
			</div>

		</div>

		<div id="rec5311854" class="r" style="padding-top:70px;padding-bottom:70px; "  data-record-type="23"   >
			<!-- T006 -->
			<div class="t006">
				<div class="t-container">
					<div class="t-row">
						<div class="t-col t-col_12">
							<div class="t006__line_top">
								<div class="t006__uptitle t-uptitle t-uptitle_md" field="title">Нэймер?</div>
							</div>
						</div>
					</div>
					<div class="t-row">
						<div class="t-col t-col_12">
							<div class="t-col t-col_10 t-prefix_1">
								<div class="t006__text-impact t-text-impact t-text-impact_md"  field="text">Нэймер – это простой, но ценный подарок для Вашего друга, подруги, ребенка, девушки, сотрудника, клиента, влюбленной пары и т.п.</div>
							</div>
						</div>
					</div>
					<div class="t-row">
						<div class="t-col t-col_12">
							<div class="t006__line_bottom"></div>
						</div>
					</div>
				</div>
			</div>

		</div>

		<div id="rec5310769" class="r" style="padding-top:0px;padding-bottom:0px; " data-animationappear="off" data-record-type="246"   >
			<!-- T218 -->
			<div class="t218">
				<div class="t218__blockimgmobile" style="display:none;background-color:#ffffff;"><img src="{% static "landing/images/tild6363-6434-4930-b132-356637353332__photo.jpg" %}" class="t218__imgmobile"></div>
				<table class="t218__blocktable" style="height:60vh;background-color:#ffffff;" data-height-correct-vh="yes">
					<tr>

						<td class="t218__blocktext">
							<div class="t218__textwrapper">
								<div class="t218__descrfield t-descr t-descr_xxxl" style="color:#000000;" field="title">Компания</div>
								<div class="t218__textfield t-text t-text_md" style="color:#000000;" field="text"><a href="{% url "main:create" %}">Что же подарить</a> сотрудницам на 8-е Марта? Или клиентам, партнерам на новый год с названием фирмы? Кружки, футболки, кепки все это, как правило, лежит на дальней полке в шкафу или уезжает на дачу. Браслет с названием фирмы, это новое предложение в качестве подарка для корпоративных клиентов и т. д.<br /><span style="font-size: 14px;"><br />Например: YANDEX.RU, #MISSRUSSIA2017, APPLE<br /></span></div>
							</div>
						</td>
						<td class="t218__blockimg" bgimgfiled="img" style="background-image:url('{% static "landing/images/tild6363-6434-4930-b132-356637353332__photo.jpg" %}');"></td>
					</tr>
				</table>
			</div>

		</div>

		<div id="rec5310800" class="r" style="padding-top:0px;padding-bottom:0px; " data-animationappear="off" data-record-type="246"   >
			<!-- T218 -->
			<div class="t218">
				<div class="t218__blockimgmobile" style="display:none;background-color:#ffffff;"><img src="{% static "landing/images/tild3731-3734-4461-a562-646530333834__3_namers.jpg" %}" class="t218__imgmobile"></div>
				<table class="t218__blocktable" style="height:60vh;background-color:#ffffff;" data-height-correct-vh="yes">
					<tr>
						<td class="t218__blockimg" bgimgfield="img" style="background-image:url('{% static "landing/images/tild3731-3734-4461-a562-646530333834__3_namers.jpg" %}');"></td>

						<td class="t218__blocktext">
							<div class="t218__textwrapper">
								<div class="t218__descrfield t-descr t-descr_xxxl" style="color:#000000;" field="title">Для неё и для него</div>
								<div class="t218__textfield t-text t-text_md" style="color:#000000;" field="text"><a href="{% url "main:create" %}">Подари</a> своей любимой девушке (или любимому мужчине) напоминание о себе и наоборот, пусть она знает, что вы всегда вместе, даже на расстоянии!<br /><span style="font-size: 14px;"><br />Например: NASTYA, ULYA, IVAN<br /></span></div>
							</div>
						</td>
					</tr>
				</table>
			</div>

		</div>

		<div id="rec5311884" class="r" style="padding-top:70px;padding-bottom:70px; "  data-record-type="23"   >
			<!-- T006 -->
			<div class="t006">
				<div class="t-container">
					<div class="t-row">
						<div class="t-col t-col_12">
							<div class="t006__line_top">
								<div class="t006__uptitle t-uptitle t-uptitle_md" field="title">Нэймер?</div>
							</div>
						</div>
					</div>
					<div class="t-row">
						<div class="t-col t-col_12">
							<div class="t-col t-col_10 t-prefix_1">
								<div class="t006__text-impact t-text-impact t-text-impact_md"  field="text">Нэймер – это доступный и оригинальный способ выразить свои чувства,<br />который останется на долгую память!</div>
							</div>
						</div>
					</div>
					<div class="t-row">
						<div class="t-col t-col_12">
							<div class="t006__line_bottom"></div>
						</div>
					</div>
				</div>
			</div>

		</div>

		<div id="rec5310862" class="r" style="padding-top:0px;padding-bottom:0px; " data-animationappear="off" data-record-type="246"   >
			<!-- T218 -->
			<div class="t218">
				<div class="t218__blockimgmobile" style="display:none;background-color:#ffffff;"><img src="{% static "landing/images/tild3430-3631-4335-b838-373636616366__2_2.jpg" %}" class="t218__imgmobile"></div>
				<table class="t218__blocktable" style="height:60vh;background-color:#ffffff;" data-height-correct-vh="yes">
					<tr>

						<td class="t218__blocktext">
							<div class="t218__textwrapper">
								<div class="t218__descrfield t-descr t-descr_xxxl" style="color:#000000;" field="title">Важная дата</div>
								<div class="t218__textfield t-text t-text_md" style="color:#000000;" field="text">День вашего знакомства, день рождения сына, резус фактор и группа крови, день свадьбы и т. д. Возможно, только ты будешь знать, что означают эти цифры, но каждый раз глядя на руку, <a href="{% url "main:create" %}">они будут вызывать у тебя улыбку</a>.<br /><span style="font-size: 14px;"><br />Например: 29.07.2014, 1MARCH, 2016<br /></span></div>
							</div>
						</td>
						<td class="t218__blockimg" bgimgfiled="img" style="background-image:url('{% static "landing/images/tild3430-3631-4335-b838-373636616366__2_2.jpg" %}');"></td>
					</tr>
				</table>
			</div>

		</div>

		<div id="rec5310898" class="r" style="padding-bottom:0px; " data-animationappear="off" data-record-type="246"   >
			<!-- T218 -->
			<div class="t218">
				<div class="t218__blockimgmobile" style="display:none;background-color:#ffffff;"><img src="{% static "landing/images/tild3336-3534-4530-a134-346464303439__love_.jpg" %}" class="t218__imgmobile"></div>
				<table class="t218__blocktable" style="height:60vh;background-color:#ffffff;" data-height-correct-vh="yes">
					<tr>
						<td class="t218__blockimg" bgimgfield="img" style="background-image:url('{% static "landing/images/tild3336-3534-4530-a134-346464303439__love_.jpg" %}');"></td>

						<td class="t218__blocktext">
							<div class="t218__textwrapper">
								<div class="t218__descrfield t-descr t-descr_xxxl" style="color:#000000;" field="title">Чувства</div>
								<div class="t218__textfield t-text t-text_md" style="color:#000000;" field="text">Нэймер - это не просто браслет с буквами, а способ сказать другому, <a href="{% url "main:create" %}">что ты чувствуешь</a> при этом напоминать о себе ежедневно! Скажи, что хочешь! ведь пока об этом знаешь только ты и твой нэймер!<br /><span style="font-size: 14px;"><br />Например: I LOVE YOU, HAPPY, MISS YOU<br /></span></div>
							</div>
						</td>
					</tr>
				</table>
			</div>

		</div>

		<div id="rec5312008" class="r" style="padding-top:0px;padding-bottom:0px; " data-animationappear="off" data-record-type="307"   >
			<!-- t278 -->
			<!-- cover -->

			<div class="t-cover" id="recorddiv5312008" bgimgfield="img" style="height:100vh; background-image:-webkit-linear-gradient(top, #ccc, #777); background-image:-moz-linear-gradient(top, #ccc, #777); background-image:-o-linear-gradient(top, #ccc, #777); background-image:-ms-linear-gradient(top, #ccc, #777); background-image:linear-gradient(top, #ccc, #777); ">
				<div class="t-cover__carrier" id="coverCarry5312008" data-content-cover-id="5312008"  data-content-cover-bg="{% static "landing/images/tild6234-3763-4039-b962-353237333033__hands.jpg" %}" data-content-cover-height="100vh" data-content-cover-parallax="fixed"      style="background-image:url('{% static "landing/images/tild6234-3763-4039-b962-353237333033__hands.jpg" %}');height:100vh; "></div>

				<div class="t-cover__filter" style="height:100vh;background-image: -moz-linear-gradient(top, rgba(13,14,97,0.70), rgba(13,44,82,0.70));background-image: -webkit-linear-gradient(top, rgba(13,14,97,0.70), rgba(13,44,82,0.70));background-image: -o-linear-gradient(top, rgba(13,14,97,0.70), rgba(13,44,82,0.70));background-image: -ms-linear-gradient(top, rgba(13,14,97,0.70), rgba(13,44,82,0.70));background-image: linear-gradient(top, rgba(13,14,97,0.70), rgba(13,44,82,0.70));filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#4c0d0e61', endColorstr='#4c0d2c52');"></div>
				<div class="t278">
					<div class="t-container">
						<div class="t-width t-width_6 t278__mainblock">
							<div class="t-cover__wrapper t-valign_middle" style="height:100vh;">
								<div class="t278__mainwrapper" data-hook-content="covercontent">
									<div class="t278__title t-title t-title_xs" field="title">Подпишись</div>          <div class="t278__descr t-descr t-descr_md" field="descr">Обещаем 2-3 письма в месяц и приятные сюрпризы ;)</div>          <form id="form5312008" name='form5312008' role="form" action='http://forms.tildacdn.info/procces/' method='POST' data-formactiontype="2"  data-inputbox=".t278__blockinput"   class="js-form-proccess">                                                <input type="hidden" name="formservices[]" value="cd8f74816b75f5ae45198ab4e67e4f04" class="js-formaction-services">



									<div class="t278__input-mainblock t-width t-width_6">

										<div class="t278__allert-wrapper">
											<div class="t278__blockinput-errorbox js-errorbox-all" style="display:none;">
												<div class="t278__blockinput-errors-text t-descr t-descr_xs">
													<p class="t278__blockinput-errors-item js-rule-error js-rule-error-all"></p>
													<p class="t278__blockinput-errors-item js-rule-error js-rule-error-req">Обязательное поле</p>
													<p class="t278__blockinput-errors-item js-rule-error js-rule-error-email">А ты уверен, что адрес правильно ввёл?</p>
												</div>
											</div>
											<div class="t278__blockinput-success js-successbox" style="display:none;">
												<div class="t278__success-icon">
													<svg width="50px" height="50px" viewBox="0 0 50 50">
														<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
															<g fill="#FFFFFF">
																<path d="M25.0982353,49.2829412 C11.5294118,49.2829412 0.490588235,38.2435294 0.490588235,24.6752941 C0.490588235,11.1064706 11.53,0.0670588235 25.0982353,0.0670588235 C38.6664706,0.0670588235 49.7058824,11.1064706 49.7058824,24.6752941 C49.7058824,38.2441176 38.6664706,49.2829412 25.0982353,49.2829412 L25.0982353,49.2829412 Z M25.0982353,1.83176471 C12.5023529,1.83176471 2.25529412,12.0794118 2.25529412,24.6752941 C2.25529412,37.2705882 12.5023529,47.5182353 25.0982353,47.5182353 C37.6941176,47.5182353 47.9411765,37.2705882 47.9411765,24.6752941 C47.9411765,12.0794118 37.6941176,1.83176471 25.0982353,1.83176471 L25.0982353,1.83176471 Z"></path>
																<path d="M22.8435294,30.5305882 L18.3958824,26.0829412 C18.0511765,25.7382353 18.0511765,25.18 18.3958824,24.8352941 C18.7405882,24.4905882 19.2988235,24.4905882 19.6435294,24.8352941 L22.8429412,28.0347059 L31.7282353,19.1488235 C32.0729412,18.8041176 32.6311765,18.8041176 32.9758824,19.1488235 C33.3205882,19.4935294 33.3205882,20.0517647 32.9758824,20.3964706 L22.8435294,30.5305882 L22.8435294,30.5305882 Z"></path>
															</g>
														</g>
													</svg>
												</div>
												<div class="t278__success-message t-descr t-descr_lg">Данные успешно отправлены. Спасибо!</div>
											</div>
										</div>

										<div class="t278__wrapper">
											<div class="t278__blockinput">
												<input type="text" name="EMAIL" class="t278__input t-input js-tilda-rule" value="" placeholder="E-mail" data-tilda-req="1" data-tilda-rule="email" style="color:#000000;  background-color:#ffffff; border-radius: 0; -moz-border-radius: 0; -webkit-border-radius: 0;">
											</div>

											<div class="t278__blockbutton">
												<button type="submit" class="t278__submit t-submit" style="color:#ffffff; border:0px solid ; background-color:#3964a3; border-radius: 0; -moz-border-radius: 0; -webkit-border-radius: 0;">Хочу!</button>                    </div>
											</div>

										</div>
									</form>		<div class="t278__text t-text t-text_xs" field="text">Не понравится – отпишешься</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<style>
					#rec5312008 input::-webkit-input-placeholder {color:#000000; opacity: 0.5;}
					#rec5312008 input::-moz-placeholder          {color:#000000; opacity: 0.5;}
					#rec5312008 input:-moz-placeholder           {color:#000000; opacity: 0.5;}
					#rec5312008 input:-ms-input-placeholder      {color:#000000; opacity: 0.5;}
					#rec5312008 textarea::-webkit-input-placeholder {color:#000000; opacity: 0.5;}
					#rec5312008 textarea::-moz-placeholder          {color:#000000; opacity: 0.5;}
					#rec5312008 textarea:-moz-placeholder           {color:#000000; opacity: 0.5;}
					#rec5312008 textarea:-ms-input-placeholder      {color:#000000; opacity: 0.5;}
				</style>


			</div>



		</div>

		<div id="rec5312185" class="r" style="padding-top:60px;padding-bottom:60px; "  data-record-type="37"   >
			<!-- T022 -->
			<div class="t022 t-align_center">
				<div class="t-container">
					<div class="t-row">
						<div class="t-col t-col_6 t-prefix_3">
							<div class="t022__text t-text t-text_sm" field="text">За фото огромное спасибо <a href="http://sergeikulikov.ru" target="_blank">Сергею Куликову</a>.<br />Рекомендуем его как классного фотографа!</div>
						</div>
					</div>
				</div>
			</div>

		</div>

		<div id="rec5312130" class="r" style="padding-top:60px;padding-bottom:60px;background-color:#f5f5f5; " data-animationappear="off" data-record-type="345"   data-bg-color="#f5f5f5">
			<!-- T345 -->

			<div class="t345" id="footer_5312130">

				<div class="t345-wrapper" style="border-top: 1px solid; border-top-color: #000000;">
					<div class="t345-container t-container" style="height:120px;">
						<div class="t345-col t-col t-col_12">
							<div class="t345-content">
								<div class="t345-text__wrapper"><div class="t345-text t-descr t-descr_xxs" field="text"><span style="font-weight: 500;">© 2016  NAMER</span></div></div>

								<!--
								<div class="t345-socials">
									<div class="t345-social">
										<div class="t345-social__wrapper">
											<div class="t345-social__item">
												<a href="https://facebook.com" target="_blank">
													<svg style="fill:#000000;" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
													width="30px" height="30px" viewBox="0 0 48 48" enable-background="new 0 0 48 48" xml:space="preserve">
													<path d="M47.761,24c0,13.121-10.638,23.76-23.758,23.76C10.877,47.76,0.239,37.121,0.239,24c0-13.124,10.638-23.76,23.764-23.76
													C37.123,0.24,47.761,10.876,47.761,24 M20.033,38.85H26.2V24.01h4.163l0.539-5.242H26.2v-3.083c0-1.156,0.769-1.427,1.308-1.427
													h3.318V9.168L26.258,9.15c-5.072,0-6.225,3.796-6.225,6.224v3.394H17.1v5.242h2.933V38.85z"/>
												</svg>
											</a>
										</div>
										<div class="t345-social__item">
											<a href="https://twitter.com" target="_blank">
												<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
												width="30px" height="30px" viewBox="0 0 48 48" enable-background="new 0 0 48 48" xml:space="preserve">
												<path style="fill:#000000;" d="M47.762,24c0,13.121-10.639,23.76-23.761,23.76S0.24,37.121,0.24,24c0-13.124,10.639-23.76,23.761-23.76
												S47.762,10.876,47.762,24 M38.031,12.375c-1.177,0.7-2.481,1.208-3.87,1.481c-1.11-1.186-2.694-1.926-4.447-1.926
												c-3.364,0-6.093,2.729-6.093,6.095c0,0.478,0.054,0.941,0.156,1.388c-5.063-0.255-9.554-2.68-12.559-6.367
												c-0.524,0.898-0.825,1.947-0.825,3.064c0,2.113,1.076,3.978,2.711,5.07c-0.998-0.031-1.939-0.306-2.761-0.762v0.077
												c0,2.951,2.1,5.414,4.889,5.975c-0.512,0.14-1.05,0.215-1.606,0.215c-0.393,0-0.775-0.039-1.146-0.109
												c0.777,2.42,3.026,4.182,5.692,4.232c-2.086,1.634-4.712,2.607-7.567,2.607c-0.492,0-0.977-0.027-1.453-0.084
												c2.696,1.729,5.899,2.736,9.34,2.736c11.209,0,17.337-9.283,17.337-17.337c0-0.263-0.004-0.527-0.017-0.789
												c1.19-0.858,2.224-1.932,3.039-3.152c-1.091,0.485-2.266,0.811-3.498,0.958C36.609,14.994,37.576,13.8,38.031,12.375"/>
											</svg>
										</a>
									</div>
									<div class="t345-social__item">
										<a href="http://vk.com" target="_blank">
											<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
											width="30px" height="30px" viewBox="0 0 48 48" enable-background="new 0 0 48 48" xml:space="preserve">
											<path style="fill:#000000;" d="M47.761,24c0,13.121-10.639,23.76-23.76,23.76C10.878,47.76,0.239,37.121,0.239,24c0-13.123,10.639-23.76,23.762-23.76
											C37.122,0.24,47.761,10.877,47.761,24 M35.259,28.999c-2.621-2.433-2.271-2.041,0.89-6.25c1.923-2.562,2.696-4.126,2.45-4.796
											c-0.227-0.639-1.64-0.469-1.64-0.469l-4.71,0.029c0,0-0.351-0.048-0.609,0.106c-0.249,0.151-0.414,0.505-0.414,0.505
											s-0.742,1.982-1.734,3.669c-2.094,3.559-2.935,3.747-3.277,3.524c-0.796-0.516-0.597-2.068-0.597-3.171
											c0-3.449,0.522-4.887-1.02-5.259c-0.511-0.124-0.887-0.205-2.195-0.219c-1.678-0.016-3.101,0.007-3.904,0.398
											c-0.536,0.263-0.949,0.847-0.697,0.88c0.31,0.041,1.016,0.192,1.388,0.699c0.484,0.656,0.464,2.131,0.464,2.131
											s0.345,4.056-0.646,4.561c-0.632,0.347-1.503-0.36-3.37-3.588c-0.958-1.652-1.68-3.481-1.68-3.481s-0.14-0.344-0.392-0.527
											c-0.299-0.222-0.722-0.298-0.722-0.298l-4.469,0.018c0,0-0.674-0.003-0.919,0.289c-0.219,0.259-0.018,0.752-0.018,0.752
											s3.499,8.104,7.463,12.23c3.638,3.784,7.764,3.36,7.764,3.36h1.867c0,0,0.566,0.113,0.854-0.189
											c0.265-0.288,0.256-0.646,0.256-0.646s-0.034-2.512,1.129-2.883c1.15-0.36,2.624,2.429,4.188,3.497
											c1.182,0.812,2.079,0.633,2.079,0.633l4.181-0.056c0,0,2.186-0.136,1.149-1.858C38.281,32.451,37.763,31.321,35.259,28.999"/>
										</svg>
									</a>
								</div>
								-->
							</div>
						</div>
					</div>
				</div>
				</div
			</div>
		</div>
	</div>
</div>


<script type="text/javascript">
	function checkSize_5312130(){
		var content = $("#footer_5312130 .t345-text").width() + $("#footer_5312130 .t345-socials").width();
		var container = $("#footer_5312130 .t345-container").width() - 30;

		if (content > container ) {
			$("#footer_5312130 .t345-container").addClass('t345-socials_block');
		}
		else {
			$("#footer_5312130 .t345-container").removeClass('t345-socials_block');
		}
	}

	$(document).ready(function() {
		checkSize_5312130();
		$(window).resize(checkSize_5312130);
	});

</script>
</div>

</div>
<!--/allrecords-->

<!-- Yandex.Metrika counter --> <script type="text/javascript"> (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter37125950 = new Ya.Metrika({ id:37125950, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true, trackHash:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/37125950" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->

</body>
</html>
